<div class="container-fluid">
    <div class="container">
        <div class="row">

            {{#if rides}} {{#each rides}} {{#if uber}}
            <div class="col-sm-3">
                <div class="imageBox" data-pickLat={{coordinates.pickup.lat}} data-pickLng={{coordinates.pickup.lng}} data-destLat={{coordinates.destination.lat}}
                    data-destLng={{coordinates.destination.lng}} data-id={{id}} data-company={{company}}>
                    <img src="./assets/images/uberLogo.jpg" class="img-responsive" alt="uberLogo">
                    <h3>{{type}}</h3>
                    <h4>{{estimate}}</h4>
                </div>
                <button class="request">Click to select ride</button>
            </div>
            {{else}}

            <div class="col-sm-3">
                <div class="imageBox" data-pickLat={{coordinates.pickup.lat}} data-pickLng={{coordinates.pickup.lng}} data-destLat={{coordinates.destination.lat}}
                    data-destLng={{coordinates.destination.lng}} data-id={{id}} data-company={{company}}>
                    <img src="./assets/images/lyftLogo.jpg" class="img-responsive" alt="uberLogo">
                    <h3>{{type}}</h3>
                    <h4>{{estimate}}</h4>
                </div>
                <button class="request">Click to select ride</button>
            </div>

            {{/if}} {{/each}} {{/if}}

        </div>
    </div>
</div>