

{{#if rides}} {{#each rides}}

<div class="card">
    <h2>{{rides.company}}</h2>
    <h2>{{rides.estimate}}</h2>
    <h2>{{rides.type}}</h2>
</div>
{{/each}} 
{{!-- {{else}} {{Some kind of message that tells the user there aren't any rides available for them.....awe that sucks.....loser}} --}}
{{/if}}